<p class="group-email-domain-change">
  <% if statement.change_type == GroupEmailDomainChangeTypes[:add] %>
    Add email address domain <%= statement.domain %>
  <% elsif statement.change_type == GroupEmailDomainChangeTypes[:remove] %>
    Remove email address domain <%= statement.domain %>
  <% else %>
    Remove all email address domains.
  <% end %>
</p>
