<p class="group-email-domain-change">
  <% if statement.change_type == GroupEmailDomainChangeTypes[:add] %>
    Add email address domain <%= statement.domain %>
  <% elsif statement.change_type == GroupEmailDomainChangeTypes[:remove] %>
    Remove email address domain <%= statement.domain %>
  <% else %>
    Remove all email address domains.
  <% end %>
</p>

<% if statement.statement.state == StatementStates[:alive] || statement.statement.state == StatementStates[:voting] %>
<p class="will-change-profile">
  The group's email address requirements will change if this statement passes.
</p>
<% end %>
