<% invitations.each do |invitation| %>
<tr>
  <td><%= link_to invitation.group.name, group_profile_path(invitation.group.name) %></td>
  <td>invited <%= Constants::Timespans::time_ago(invitation.created_at) %></td>
</tr>
<% end %>
