<div class="row">
  <div class="col-xs-8">
    <h2>WeSpeak: a Social Network for Groups</h2>
    <div class="row">
      <div class="col-xs-6">
	<h3>WeSpeak is:</h3>
	<ul class="list-group">
	  <li class="list-group-item">Democratic</li>
	  <li class="list-group-item">Decentralized</li>
	  <li class="list-group-item">Transparent</li>
	</ul>
      </div>
      <div class="col-xs-6">
	<h3>WeSpeak is NOT:</h3>
	<ul class="list-group">
	  <li class="list-group-item">A campaign tool</li>
	</ul>	
      </div>
    </div>
  </div>
  <% if !logged_in? %>
    <div class="col-xs-4">
      <%= render 'users/signup' %>
      <%= render 'sessions/login' %>
    </div>
  <% end %>
</div>
