<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to WeSpeak</h1>
    <h2>A Social Network for Groups</h2>
  </div>
  <% if !logged_in? %>
    <div class="col-md-offset-4 col-md-4 col-xs-12">
      <%= render 'sessions/login' %>
      <%= render 'users/signup' %>
    </div>
  <% end %>
</div>
