<div class="proposals-list">
  <table class="table">
    <% @statements.each do |tagline| %>
    <tr>
      <td>
        <%= render 'show', tagline: tagline %>
      </td>
    </tr>
    <% end %>
  </table>

  <%= will_paginate @statements %>
</div>
