<table class="table table-hover table-striped">
  <% @group.get_taglines(:alive).each do |tagline| %>
  <tr>
    <td>
      <%= render 'show', tagline: tagline %>
    </td>
  </tr>
  <% end %>
</table>
