<div class="proposals-list">
  <table class="table">
    <% @group.get_taglines(:alive).reverse.each do |tagline| %>
    <tr>
      <td>
        <%= render 'show', tagline: tagline %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
