<div class="new-tagline">
  <%= form_for :tagline, url: create_tagline_path(@info.group.name), method: :post, remote: true do |f| %>

  <h4>Tagline Proposal</h4>
  <p>
    Please limit to <%= Constants::Lengths::TAGLINE_MAX %> characters.
  </p>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= f.text_area :tagline, maxlength: Constants::Lengths::TAGLINE_MAX, rows: 4, class: "form-control" %>
    </div>
  </div>
  <%= f.submit "Propose", class:"btn btn-primary" %>
  <% end %>
</div>
