<div class="row">
  <div class="col-md-4 col-xs-12">
    <%= render('group_pages/statement_stats', statement: tagline.statement) %>
  </div>
  <div class="col-md-8 col-xs-12">
    <div class="tagline">
      <span><%= tagline.tagline %></span>
    </div>
  </div>
</div>
