<% provide(:title, @group.name) %>
<% provide(:active_tab, :proposals) %>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= render 'group_pages/left_header' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <%= render 'proposals/proposals_tabs', active_tab: :taglines %>
    <%= render 'taglines/index' %>
  </div>
</div>
