<div class="profile-header">
  <table>
    <col width="33%">
    <col width="67%">
    <tr>
      <td class="profile-photo">
        <%= render 'profile_photo' %>
      </td>
      <td class="tagline">
        <%= render 'tagline' %>
      </td>
    </tr>
  </table>
</div>
