<div class="outer">
  <span>
  <% if @group.tagline.nil? %>
    This group has no tagline.
  <% else %>
    "<%= @group.tagline %>"
  <% end %>
  </span>

  <% if @change_eligible %>
    <div class="change-link"><%= link_to "Propose change", "#" %></div>
  <% end %>
</div>
