<% provide(:title, @info.group.name) %>
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <%= render 'group_pages/page_tabs', active_tab: :rules %>
    <%= render 'group_pages/profile_header' %>

    <%= render 'groups/rules_show', group: @info.group, change_links: @info.change_eligible?, outer_list: true %>
  </div>
</div>
