<% provide(:title, "Forgot Password") %>
<h2>Forgot Password</h2>

<%= form_for(:password_reset, url: password_resets_path, method: "post") do |f| %>

<%= f.label :email %>
<%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>

<%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>
