<div class="new-profile_image">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= form_for(:profile_image, url: create_profile_image_path(@info.group.name), html: { multipart: true }) do |f| %>
      <div><%= file_field_tag :image, accept: 'image/jpeg,image/gif,image/png' %></div>
      <div><%= f.submit "Propose", class: "btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
</div>
