<div class="row">
  <div class="col-md-6 col-xs-12">
    <%= render('group_pages/statement_stats', statement: profile_image.statement) %>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="statement">
      <span class="profile-image"><%= image_tag profile_image.image.url %></span>
    </div>
  </div>
</div>
