<% provide(:title, "Settings | Notifications") %>
<% provide(:active_tab, "notifications") %>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= render 'settings/settings_menu' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <%= render 'notifications' %>
  </div>
</div>
