<p>
  Sincerely,
  <br>
  The WeSpeak Team
</p>

<p>
WeSpeak is a social network for groups.
</p>

<% if @user %>
<p>
  <%= link_to "Manage email notification preferences", edit_settings_notifications_url %>
</p>
<% end %>

<p class="copyright">
  &copy; <%= Date.today.year %> WeSpeak, Inc.
</p>
