<%= stylesheet_link_tag("application.css") %>

<p>Dear WeSpeak user,</p>

<p>A statement that you created in @<%= @statement.group.name %> has died because it did not have enough support.</p>

<p>
  <%= render 'group_pages/statement_body', statement: @statement, group: nil, logged_in: false %>
</p>

<p>
  You received this email because you are a WeSpeak member interested in your statements.
</p>

<%= render 'mailer_footer' %>
