<p>Hi <%= @user.name %>,</p>

<p>
Please click the following link to activate this email address.  If
you did not request this activation, please ignore this message.
</p>

<%= link_to "Activate", edit_email_address_activation_url(@email_address.activation_token, email: @email_address.email) %>
