<p>Dear WeSpeak user,</p>

<p>
  You have been invited to join <%= render 'group_name', group: @group, period: true %>
</p>

<p>
  <%= render 'group_thumb', group: @group %>
</p>

<p>
  <%= render 'group_summary', group: @group %>
</p>

<p>You received this email because you are a WeSpeak member interested in knowing when you receive invitations.</p>

<%= render 'mailer_footer' %>
