<%= stylesheet_link_tag("application.css") %>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="email-body">
      
      <p>Dear WeSpeak user,</p>
      
      <p>
        You have been invited to join
        <span class="group-name">@<%= @group.name %></span>.
      </p>
      
      <p><%= link_to "Click here to visit the group page", group_profile_url(@group.name) %>.</p>
      
      <p>You received this email because you are a WeSpeak member interested in knowing when you receive invitations.</p>
      
      <%= render 'mailer_footer' %>
      
    </div>
  </div>
</div>
