<p>Dear WeSpeak user,</p>

<p>You have been invited to join <%= @group.name %>.</p>

<p><%= link_to "Click here to visit the group page", group_profile_url(@group.name) %>.</p>

<p>You received this email because you are a WeSpeak member interested in knowing when you receive invitations.

  <%= link_to "Click here to manage your email preferences", edit_settings_notifications_url %>.</p>

<%= render 'mailer_footer' %>
