<p>Dear WeSpeak user,</p>

<p>
  Your membership has expired in
  <%= render 'group_name', group: @group, period: true %>
  You won't be eligible to support or vote again until you renew your membership.
</p>

<p>
  You received this email because you are a WeSpeak member interested in knowing when your memberships expire.
</p>

<%= render 'mailer_footer' %>
