<%= stylesheet_link_tag("application.css") %>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="email-body">

      <p>Dear WeSpeak user,</p>
  
      <p>Voting has begun for a statement in @<%= @statement.group.name %>.</p>
      
      <p>
        <%= render 'group_pages/statement_body', statement: @statement, group: nil, logged_in: false %>
      </p>

      <p>
        You received this email because you are a WeSpeak member interested in this group.
      </p>
      
      <%= render 'mailer_footer' %>
      
    </div>
  </div>
</div>
