<p>Dear WeSpeak user,</p>

<p>Voting has begun for a statement of type <%= StatementTypes.name(@statement.statement_type) %> in the group <%= @statement.group.name %>.</p>

<p><%= link_to "Click here to view it and vote", statement_url(@statement.group.name, @statement.id) %>.</p>

<p>You received this email because you are a WeSpeak member interested in this group.

  <%= link_to "Click here to manage your email preferences", edit_settings_notifications_url %>.</p>
