<p>Dear WeSpeak user,</p>

<p>
  Voting has begun for a statement in
  <%= render 'group_name', group: @statement.group, period: true %>
</p>

<p>
  <%= render 'group_thumb', group: @statement.group %>
</p>

<p>
  <%= render 'statement', statement: @statement %>
</p>

<p>
  You received this email because you are a WeSpeak member interested in this group.
</p>

<%= render 'mailer_footer' %>
