<p class="display-name"><%= statement.display_name %></p>

<% if statement.statement.state == StatementStates[:alive] || statement.statement.state == StatementStates[:voting] %>
<p class="will-change-profile">
  The group's name will change if this statement passes.
</p>
<% end %>
