<span class="invitations">
  <% if group.invitations == Constants::Invitations::NOT_REQUIRED %>
    Invitations are not required for participation in this group.
  <% else %>
    <div>Required.</div>
    Members may send <%= group.invitations %> per day.
  <% end %>
</span>
<% if change_link %>
  <div class="change-link"><%= link_to "Propose change", invitations_path(@info.group.name, :alive) %></div>
  <% if group.invitations_required? %>
    <%= render 'sent_invitations/new' %>
  <% end %>
<% end %>

