<p class="invitations">
  <% if @group.invitations == Constants::Invitations::NOT_REQUIRED %>
  Invitations are not required for participation in this group.
  <% else %>
  Members may send up to <%= @group.invitations %> per day.
  <% end %>
  <% if change_link %>
  <div class="change-link"><%= link_to "Propose change", "#" %></div>
  <% end %>
</p>
