<% if groups.any? %>
<table class="table table-hover table-striped">
  <thead>
    <th>Name</th>
    <th>Created</th>
    <th></th>
  </thead>
  <tbody>
    <% groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= time_ago_in_words(group.created_at) + " ago" %></td>
      <td><%= link_to "Configure", edit_group_path(group.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
