<% if @groups_pending.any? %>
<div class="settings-group">
  <h4>Groups Pending Configuration</h4>
  <table class="table">
    <tbody>
      <% @groups_pending.each do |group| %>
      <tr>
        <td><%= link_to group.name, edit_group_path(group.id) %></td>
        <td>Created <%= Constants::Timespans::time_ago(group.created_at) %></td>
        <td>
          <% warning = "Are you sure you want to delete " + group.name + "?" %>
          <%= link_to destroy_group_path(group.id), method: :delete, data: { confirm: warning } do %>
          <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
