<% if groups.any? %>
<h4>Groups Pending Configuration</h4>
<table class="table table-hover table-striped">
  <tbody>
    <% groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, edit_group_path(group.id) %></td>
      <td>Created <%= time_ago_in_words(group.created_at) + " ago" %></td>
      <td>
        <% warning = "Are you sure you want to delete " + group.name + "?" %>
        <%= link_to group_path(group.id), method: :delete, data: { confirm: warning } do %>
        <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
