<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <p class="profile-image">
      <% if @group.profile_image.url %>
        <%= image_tag @group.profile_image.url %>
      <% end %>
    </p>
  </div>
</div>

<%= form_for(:profile_image, url: update_profile_image_group_path(@group.id), html: { multipart: true }) do |f| %>
<div><%= file_field_tag :image, accept: 'image/jpeg,image/gif,image/png' %></div>
<div><%= f.submit "Save", class: "btn btn-primary" %></div>
<% end %>
