<div class="group-header">
  <h2><%= @group.name %></h2>

  <p class="tagline">
    <% if !@group.tagline.nil? %>
  <%= @group.tagline %></p>
  <% else %>
  This group doesn't have a tagline.
  <% end %>
  </p>
</div>
