<% provide(:active_tab, :profile) %>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= render 'left_header' %>
  </div>
  <div class="col-md-6 col-xs-12">
    <%= render 'profile_header' %>
  </div>
  <div class="col-md-3 col-xs-12">
    <%= render 'current_settings' %>
  </div>
</div>
