<% provide(:title, 'Sign Up') %>

<% if !logged_in? %>
  <%= render 'signup' %>
<% else %>
  <p>Please <%= link_to "Log out", logout_path, method: "delete" %> if you want to sign up as a new user.</p>
<% end %>

