<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <h4><%= @user.name %>'s Groups (<%= @groups.count %>)</h4>
    <ul id="groups-list" class="list-group groups-list">
      <%= render 'group_rows' %>
    </ul>
    <div id="infinite-scrolling">
      <%= will_paginate @groups %>
    </div>
  </div>
</div>
