<% if PageErrors.get.any? %>
  <div class="alert alert-danger">
    <ul class="list-group">
      <% PageErrors.get.each do |msg| %>
      <li class="list-group-item"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% PageErrors.clear %>
<% end %>
