<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Email Identities</a></li>
  <li><a href="#">Another Setting</a></li>
  <li><a href="#">Another Setting</a></li>
  <li><a href="#">Another Setting</a></li>
</ul>
