<div class="new-invitation">
  <ul class="list-group">
    <li class="list-group-item">
      <%= form_for :invitation, url: create_invitation_path(@info.group.name), method: :post do |f| %>
      <div><%= f.label :invitations, "Invitations" %></div>
      <div><%= f.select(:invitations, options_for_select(Constants::Invitations::INPUT_OPTIONS, @info.group.invitations), class: "form-control") %></div>
      <div><%= f.submit "Propose", class:"btn btn-primary" %></div>
      <% end %>
    </li>
  </ul>
</div>
