<p class="invitations">
  Change invitations to
  <% if statement.invitations == Constants::Invitations::NOT_REQUIRED %>
    not required.
  <% else %>
    <%= statement.invitations %> per day.
  <% end %>
</p>
<% if @info.state == :alive || @info.state == :voting %>
<p class="current-invitations"
   The current setting is
   <% if @info.group.invitations == Constants::Invitations::NOT_REQUIRED %>
     not required.
   <% else %>
     <%= @info.group.invitations %> per day.
   <% end %>
</p>
<% end %>
