<table class="table table-striped">
  <tbody>
    <tr>
      <td class="general-setting-key">Name</td>
      <td class="general-setting-value"><%= @user.name %></td>
    </tr>
    <tr>
      <td class="general-setting-key">Primary Email Address</td>
      <td class="general-setting-value"><%= EmailAddress.find(@user.primary_email_address_id).email %></td>
    </tr>
    <tr>
      <td class="general-setting-key">Member Since</td>
      <td class="general-setting-value"><%= time_ago_in_words(@user.created_at) %></td>
    </tr>

  </tbody>
</table>
