<% provide(:title, "Settings | Email Identities") %>
<% provide(:active_tab, "email_identities") %>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= render 'settings/settings_menu' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <%= render 'email_identities' %>
  </div>
</div>
