<div class="new-update">
  <ul class="list-group">
    <li class="list-group-item">
      <%= form_for :update, url: create_update_path(@info.group.name), method: :post do |f| %>

      <h4>Update</h4>

      <div class="editor">
        <%= f.cktext_area :update, class: "ckeditor", ckeditor: { toolbar: "mini" } %>
      </div>
      <%= f.submit "Propose", class:"btn btn-primary" %>
      <% end %>
    </li>
  </ul>
</div>
