<div class="new-update">
  <%= form_for :update, url: updates_path(@group.name), method: :post do |f| %>

  <h4>Update Proposal</h4>
  <p>
    Please limit to <%= Constants::Lengths::UPDATE_MAX %> characters.
  </p>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= f.text_area :update, maxlength: Constants::Lengths::UPDATE_MAX, rows: 4, class: "form-control" %>
    </div>
  </div>
  <%= f.submit "Propose", class:"btn btn-primary" %>
  <% end %>
</div>
