<% if group.group_email_domains.any? %>
<table class="table table-hover table-striped">
  <tbody>
    <% group.group_email_domains.each do |group_email_domain| %>
    <tr>
      <td><%= group_email_domain.domain %></td>
      <% if allow_deletes %>
      <td>
        <% warning = "Are you sure you want to delete " + group_email_domain.domain + "?" %>
        <%= link_to destroy_group_email_domain_path(group_id: group.id, id: group_email_domain.id), method: :delete, data: { confirm: warning } do %>
        <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="no-data">There are no email address restrictions.</p>
<% end %>

<% if change_link %>
  <div class="change-link"><%= link_to "Propose change", new_group_email_domain_change_path(@info.group.name) %></div>
<% end %>
