<div class="proposals-list">
  <table class="table">
    <% @statement_pointers.each do |statement_pointer| %>
      <%= render 'statement_pointer', statement_pointer: statement_pointer %>
    <% end %>

  </table>
  <%= will_paginate @all_statements %>
</div>
