<div class="proposals-list">
  <table class="table">
    <% @group.get_all_statements(:alive).reverse.each do |tuple| %>
    <tr>
      <td>
        <%= render('taglines/show', tagline: tuple[:content]) if tuple[:statement_type] == :tagline %>
        <%= render('updates/show',  update:  tuple[:content]) if tuple[:statement_type] == :update  %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
