<div class="settings-group">
<h4>Can I Participate?</h4>
<% if logged_in? %>
  <% if @info.change_eligible? %>
    <p class="green-light">Yes!</p>
  <% else %>
    <p class="red-light">No.</p>
    <% if !@info.email_eligible? %>
      <p class="red-light">Must have a matching email address</p>
    <% end%>
    <% if !@info.invitation_eligible? %>
      <p class="red-light">You have not been invited</p>
    <% end%>
  <% end %>
<% else %>
  <p><%= link_to "Log in", new_session_path %> to participate<p>
<% end %>
</div>
