<div class="settings-group">
  <h4>Email Address Restrictions</h4>
  <%= render 'group_email_domains/index', allow_deletes: false, change_link: logged_in? %>
</div>
<div class="settings-group">
  <h4>Invitations</h4>
  <%= render 'groups/invitations_show', change_link: logged_in? %>
</div>
<div class="settings-group">
  <h4>Group Rules</h4>
  <%= render 'groups/rules_show', change_links: logged_in? %>
</div>
