<div>
  <%= number_with_delimiter(@info.group.followers.count, delimiter: ",") %> <%= 'follower'.pluralize(@info.group.followers.count) %>
</div>
<div>
  <% if @info.user %>
    <% if @info.group.followers.find_by(user_id: @info.user.id) %>
      <%= link_to "Unfollow", unfollow_path(@info.group.name), method: :post, class: "btn btn-warning", remote: true %>
    <% else %>
      <%= link_to "Follow", follow_path(@info.group.name), method: :post, class: "btn btn-success", remote: true %>
    <% end %>
  <% end %>
</div>
