<%= image_tag(@info.group.profile_image.url || "no-image.png", alt: "Profile photo", title: "Profile photo") %>
<% if @info.change_eligible? %>
  <div class="change-link"><%= link_to "Propose change", profile_images_path(@info.group.name, :alive) %></div>
<% end %>
