<div class="profile-header">
  <table>
    <col width="33%">
    <col width="67%">
    <tr>
      <td class="profile-photo">
        <%= render 'group_pages/profile_photo' %>
      </td>
      <td class="tagline">
        <%= render 'group_pages/tagline' %>
      </td>
    </tr>
  </table>
</div>
