<% @statement_pointers.each do |statement_pointer| %>
<% statement = statement_pointer[:content].statement %>
<li class="statement-item list-group-item">
  <div class="statement-header">
    <%= render('group_pages/statement_stats', section: :header, statement: statement, group: group) %>
  </div>
  <div class="statement">
    <div class="row">
      <div class="col-xs-3">
        <%= render 'group_pages/group_thumb', statement: statement %>
      </div>

      <div class="col-xs-9">
        <%= render 'group_pages/statement_pointer', statement_pointer: statement_pointer, group: group %>
        
        <div class="statement-footer">
          <%= render('group_pages/statement_stats', section: :footer, statement: statement, group: group) %>
        </div>
      </div>
    </div>
  </div>
</li>
<% end %>
