<div class="group-tabs">
  <ul class="nav nav-tabs">
    <%= render 'group_pages/profile_header' %>

    <%= render 'group_pages/group_tabs' %>

    <%= content_tag(
        :li,
        link_to("All (#{@info.group.get_count(@info.state)})",
        profile_path(@info.group.name, @info.state)),
        class: active_tab == :all ? "active" : "inactive") %>

    <% [:taglines, :updates, :rules, :invitations, :group_email_domain_changes, :profile_images].each do |type_p| %>
    <% type_s = type_p.to_s.singularize.to_sym %>
    <%= content_tag(
        :li,
        link_to("#{StatementTypes.name_from_sym(type_s)} (#{@info.group.get_count(@info.state, type_s)})",
        send("#{type_p}_path", @info.group.name, @info.state)),
        class: active_tab == type_p ? "active" : "inactive") %>
    <% end %>

  </ul>
</div>
