<ul align="center">

  <li>
    <%= link_to "Direct Link", statement_path(statement.group.name, statement.id, feed: group.nil?) %>
  </li>

  <li>
    <%= link_to "#{number_with_delimiter(statement.comments.count, delimiter: ',')} #{'comment'.pluralize(statement.comments.count)}",
        statement_path(statement.group.name, statement.id, feed: group.nil?) %>
  </li>

</ul>
