<div class="outer">
  <span>
  <% if @info.group.tagline.nil? %>
    This group has no tagline
  <% else %>
    "<%= @info.group.tagline %>"
  <% end %>
  </span>

  <% if @info.change_eligible? %>
    <div class="change-link"><%= link_to "Propose change", taglines_path(@info.group.name, :alive) %></div>
  <% end %>
</div>
