<% if !statement.user_vote(current_user) %>
<table class="vote-buttons">
  <tr>
    <td>
      <%= button_to "No.", vote_no_path(statement.group.name),
          params: { statement_id: statement.id },
          class: "btn btn-danger",
          data: { confirm: "Are you sure? You cannot change your vote later." },
          remote: true %>
    </td>
    
    <td>
      <%= button_to "Yes!", vote_yes_path(statement.group.name),
          params: { statement_id: statement.id },
          class: "btn btn-success",
          data: { confirm: "Are you sure?  You cannot change your vote later." },
          remote: true %>
    </td>
  </tr>
</table>
<% end %>
