<% vote = statement.user_vote(@info.user) %>

<table>
  <tr>
    <td>
<%= button_to "No.", vote_no_path(@info.group.name),
    params: { statement_id: statement.id },
    class: "btn btn-danger",
    disabled: !vote.nil? && vote.vote == Constants::Votes::NO,
    remote: true %>
    </td>

    <td>
<%= button_to "Yes!", vote_yes_path(@info.group.name),
    params: { statement_id: statement.id },
    class: "btn btn-success",
    disabled: !vote.nil? && vote.vote == Constants::Votes::YES,
    remote: true %>
    </td>
  </tr>
</table>
