<% provide(:title, @info.group.name) %>
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <%= render 'group_pages/page_tabs', active_tab: :profile %>
    <%= render 'group_pages/profile_header' %>
    <div id="tabbed-content">
      <%= render 'group_pages/tabbed_content' %>
    </div>
  </div>
</div>
