<% provide(:title, @info.group.name) %>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= render 'group_pages/left_header' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <div id="tabbed-content">
      <%= render 'group_pages/tabbed_content' %>
    </div>
  </div>
</div>
