<div class="group-rules">
  <h4>Facebook Restrictions Settings</h4>
  <p>Restrict users based on whether they have a Facebook account?  Remember, anything you set here can be changed later by the group.</p>
</div>
