<div class="group-rules">
  <h4>Location Restrictions Settings</h4>
  <p>Restrict users based on location?  Leaving this empty makes no restrictions.  Otherwise, users will not be restricted if they are inside one of the regions.  Remember, anything you set here can be changed later by the group.</p>
</div>
