form {
    padding: 5px 5px 5px 5px;
}

input {
    margin-bottom: 15px;
}

textarea {
    margin-bottom: 15px;
}

select {
    margin-bottom: 15px;
}

.signup {
    border: 1px solid gainsboro;
    margin-top: 30px;
}

.login {
    border: 1px solid gainsboro;
    margin-top: 30px;
}
