.settings-group {
    margin-bottom: 30px;
    border: 1px solid;
    padding: 5px;
    border-color: silver;
}

.ready-to-activate {
    form {
        border: 0px;
    }
}

.group-header {
    h2 {
        text-align: left;
    }
}

.tagline {
    font-style: italic;
}

.group-name {
    font-style: italic;
    text-align: right;
}

.group-tabs {
    li {
        text-align: right;
    }
}

.group-summary-stats {
    text-align: right;
    font-size: x-small;
}