.group-tabs {
    ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.profile-image {
    img {
        display: block;
        max-width: 100%;
    }
}

.profile-header {
    margin-bottom: 15px;

    .tagline {
        font-style: italic;
        font-size: large;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .membership {
        margin-top: 10px;
        font-size: small;
    }
    
    .following {
        font-size: small;
    }

    .participation-summary {
        margin-top: 10px;
    }
}

.group-display-name {
    font-size: xx-large;
    line-height: 100%;
}

.group-name {
    color: gray;
}
    
.settings-group {
    margin-bottom: 20px;
    border: 1px solid;
    padding: 5px;
    border-color: silver;
}

.no-data {
    font-style: italic;
}

.change-link {
    font-style: normal;
    font-size: xx-small;
    line-height: 100%;
}

.invitations, .locations {
    font-style: italic;
    text-align: center;
}

.statement {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    .display-name, .tagline, .rule, .group-email-domain-change, .invitations, .deleted-comment {
        display: block;
        text-align: center;
        font-size: large;
        font-style: italic;
    }

    .will-change-profile {
        text-align: center;
        font-size: large;
    }
}

.statement-header, .statement-footer, .comment-header {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #dddddd;
    }
    
    li {
        display: inline;
        font-size: small;
        font-weight: bold;
        text-align: center;
        font-family: monospace;
        margin: 2%;
    }
}

.statement-stats {
    background-color: #dddddd;
    padding: 10px;
    border-radius: 5px;
    font-size: small;
        
    ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
        font-family: monospace;

        .no {
            font-weight: bold;
            color: red;
        }

        .yes {
            font-weight: bold;
            color: green;
        }

    }
}

.new-comment {
    text-align: center;
    font-size: large;
}

.statement-item {
    padding: 0;
}

.invites-remaining {
    color: green;
    font-weight: bold;
}

.confirm-buttons, .vote-buttons, .support-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.page-desc {
    font-size: large;
    font-style: italic;
}

.statement-counts {
    font-size: small;
}

.why-not-eligible {
    font-size: large;
    font-style: italic;
}

.page-tabs {
    margin-bottom: 10px;
}

.participation, .rules {
    .header {
        font-size: large;
        font-weight: bold;
    }

    .explain {
        font-size: x-small;
    }
}

.groups-list {
    font-size: small;

    .name {
        margin-bottom: 10px;
    }
    
    .group-name {
        font-size: medium;
    }

    .group-display-name {
        font-size: large;
    }

    img {
        margin-top: 5px;
        border-radius: 5px;
    }
}

.your-vote, .your-support, .eligible-voters, .votes-cast, .votes-needed, .yeses-needed, .yeses-cast, .eligible-supporters, .support-needed, .support-given {
}

.flash-section {
    text-align: center;
}

.statement-group-link {
    font-size: small;
    text-align: center;
    img {
        max-width: 100%;
        border-radius: 5px;
    }

    group-name: {
        font-size: small;
    }

    group-display-name: {
        font-size: small;
    }
}

.rich-text {
    margin: 10px;
}

.copyright {
    font-size: x-small;
}

.email-body {
    margin: 15px;
}
