.left-header {
    text-align: right;
}

.profile-photo {
    img {
        width: 100%;
    }
}

.green-light {
    color: green;
    font-weight: bold;
}

.red-light {
    color: red;
    font-weight: bold;
}

.settings-group {
    margin-bottom: 30px;
    border: 1px solid;
    padding: 5px;
    border-color: silver;
}

.no-data {
    font-style: italic;
}

.restricted-verdict {
    font-style: italic;
}

.change-link {
    font-size: xx-small;
    line-height: 100%;
}

.ready-to-activate {
    form {
        border: 0px;
    }
}

.group-header {
    h2 {
        text-align: left;
    }
}

.tagline {
    span {
        font-style: italic;
        font-size: xx-large;
    }
}

.invitations {
    font-style: italic;
}

.group-name {
    font-style: italic;
    font-size: x-large;
    text-align: right;
}

.group-tabs {
    li {
        text-align: right;
    }
}

.group-summary-stats {
    text-align: right;
    font-size: x-small;
}
