<% provide(:title, @info.group.name) %>
<% provide(:active_tab, :votes) %>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= render 'group_pages/left_header' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <%= render 'group_pages/statement_tabs', state: :voting, active_tab: :all %>
    <%= render 'index' %>
  </div>
</div>
