<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href='#'><%= current_user.name %><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <% if current_user.can_create_groups %>
    <li><%= link_to "My Groups", groups_path %></li>
    <% end %>
    <li><%= link_to "Settings", settings_path %></li>
    <li role="presentation" class="divider"></li>
    <li><%= link_to "Logout", logout_path, method: "delete" %></li>
  </ul>
</li>
