<div class="new-location">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= form_for(:location, url: create_locations_path(@info.group.name)) do |f| %>
      <%= render 'groups/locations_fields', f: f, button_text: "Propose" %>
      <% end %>
    </div>
  </div>
</div>
