<header class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "WeSpeak", root_url, class: "navbar-brand" %>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <%= render 'layouts/navbar/logged_in' %>
        <% else %>
          <%= render 'layouts/navbar/logged_out' %>
        <% end %>
      </ul>
    </div>
  </div>
</header>
